.imgreverse{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 10vw;
}
img{
    width: 10vw;
}
.flex{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin: auto;
}