.flex{
    display: flex;
    justify-content: space-around;
}
.list{
    display: inline-block;
    width: 49%;
}
.cards{
    
    display: inline-block;
    width: 350px;
    height: 450px;
    background-color: darkslategray;
    text-align: center;
}
h1{
    color: rgb(29, 104, 29);
    text-align: center;
}
div{
    color: rgb(136, 127, 45);
}